<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A detailed projects list page of DragunWF."
    />
    <title>DragunWF | Projects List</title>
    <link rel="icon" href="/public/images/icon.png" />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles-misc.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script
      src="https://kit.fontawesome.com/951cb45b31.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="text flex-object">
      <h1>
        Projects List (Outdated, Check my
        <a href="/socials/github" class="text-link" target="_blank">GitHub</a>
        for the latest)
      </h1>
    </header>
    <section class="content projects-content flex-object">
      <div
        class="container projects-container text flex-object"
        data-aos="zoom-in"
      >
        <h2>Game Applications</h2>
        <ul>
          <% data.gameApplications.forEach(project => { %>
          <li>
            <a
              href="<%= project.link %>"
              target="_blank"
              class="project-title text-link"
              ><%= project.name %></a
            >
            - <%= project.description %>
          </li>
          <% }) %>
        </ul>
      </div>
      <div
        class="container projects-container text flex-object"
        data-aos="zoom-in"
      >
        <h2>Web Applications</h2>
        <ul>
          <% data.webApplications.forEach(project => { %>
          <li>
            <a
              href="<%= project.link %>"
              target="_blank"
              class="project-title text-link"
              ><%= project.name %></a
            >
            - <%= project.description %>
          </li>
          <% }) %>
        </ul>
      </div>
      <div
        class="container projects-container text flex-object"
        data-aos="zoom-in"
      >
        <h2>Automation & Bots</h2>
        <ul>
          <% data.automationAndBots.forEach(project => { %>
          <li>
            <a
              href="<%= project.link %>"
              target="_blank"
              class="project-title text-link"
              ><%= project.name %></a
            >
            - <%= project.description %>
          </li>
          <% }) %>
        </ul>
      </div>
      <div
        class="container projects-container text flex-object"
        data-aos="zoom-in"
      >
        <h2>More Projects</h2>
        <p>
          If you want to checkout my latest games, you can check out my
          <a href="/socials/itch.io" target="_blank" class="text-link"
            >itch.io page</a
          >
          or if you just want to take a look at all of my latest projects; you
          can take a look at my
          <a href="/socials/github" target="_blank" class="text-link"
            >GitHub page</a
          >.
        </p>
      </div>
      <div data-aos="zoom-in">
        <div class="button-misc return-to-home" id="projectsBackToHomeButton">
          <a href="/" class="text">Back to Home Page</a>
        </div>
      </div>
    </section>
    <footer class="flex-object">
      <span class="footer-text text"
        >&copy; DragunWF |
        <a
          href="https://github.com/DragunWF/dragunwf.herokuapp.com"
          target="_blank"
          class="text-link"
          >Source</a
        ></span
      >
    </footer>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
